/* long style with absolute units */
.boxA {
    border: 5px dotted rebeccapurple;
    border-radius: 50% 20% / 10% 40%;
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:40px;
    padding-right:40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left:40px;
    margin-right:40px;
    width: 80mm;
    height: 4cm;
}
/* short style with relative units*/
.boxB {
    border: 1vw solid rebeccapurple;
    background-color: lightgray;
    padding: 50 50 40 40;
    margin: 50 50 40 40;
    width: 15em;
    max-width: 500px;
    height: 16ex;
    max-height: 250px;
}
/* navigation text style with absolute position */
.nav {
    position: absolute;
    left: 100px;
    top: 150px;
    display:contents;
    color: rgb(106, 2, 190);
    font-style: bold;
    text-decoration: underline dotted rgb(41, 15, 15);
    text-align: center;
}
/* style for day3 header with relative position */
h3, h5 {
    position: static;
    color: hsl(0, 19%, 11%);
    display: block;
}
/* change button color when hovering the pointer on it */
button:hover {
    color: blue;
}
a:active {
    color: green;
}
/* apply flex box style to 2 children*/
.flex-box {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}
/* this child uses div */
.flex-box > div {
    background-color: #f1f1f1;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
/* this one uses span, however, they should be the same. */
.flex-box > span {
    background-color: #f1f1f1;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
/* query: for width < 600px, the background will be blue. */
@media screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }
/* complete missing selectors */
/* universal */
* {
    background-color: rgba(255, 255, 255, 0.8);
}
/* id selector */
#day1 {
    color:rgb(86, 77, 214);
}
/* attribute selector */
a[target=blank] {
    background-color: yellow;
}
/* desendant combinator */
b strong {
    color: blue; 
}
/* child combinator */
ol > li {
    color:rgb(86, 77, 214);
}
/* general sibling combinator */
h4 ~ p {
    background-color: yellow;
}
/* adjacent sibling combinator */
h3 + h4 {
    font-style: bold;
}
/* combining two selectors */
div.boxA{
    font-style:italic;
}